name: CI

on:
  pull_request:

env:
  CI: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3.4.0

      - name: Use Node 16
        uses: actions/setup-node@v3.6.0
        with:
          node-version: 16.x
          cache: "yarn"

      - name: Install packages
        run: yarn install

      - name: Build
        run: yarn build
