name: CI

on:
  pull_request:

env:
  CI: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node 20
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: "pnpm"

      - name: Install packages
        run: pnpm install --frozen-lockfile

      - name: Build Content Collections
        run: pnpm content-collections build

      - name: Build Next.js
        run: pnpm next build
